@import url('./index.css');

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .intro {
  margin-top: 20px;
  text-align: center;
  /* font-size: 2rem; */
}

@media (max-width: 768) {
  header #hero-text {
    font-size: 2rem;
  }
}

header #keynote {
  background: var(--white);
  border: 2px solid var(--grey);
  border-radius: 5px;
  text-align: center;
  font-size: 1.1rem;
  margin: 20px 0 40px 0px;
}

header .reach-us {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 60px;
}

header nav {
  width: 100%;
}

.past-workshops {
  background: var(--white);
  color: var(--black);
}

#past-workshops-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 400px;
  height: 400px;
  background: red; */
}

.past-workshops-card {
  width: 400px;
  height: 300px;
  position: relative;
  margin: 20px 10px 10px 10px;
}

.past-works-content {
  color: var(--white);
  text-align: center;
}

.orange-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(236, 82, 66, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

#gallery1 {
  background: url('../assets/img/gallery1.jpg') no-repeat;
  background-size: cover
}

#gallery2 {
  background: url('../assets/img/gallery2.jpg') no-repeat;
  background-size: cover;
}

footer {
  background: var(--black);
  color: var(--white);
}
