/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/cocogoose');

/* Primary colors */
:root {
  --orange: #ec5242;
  --tomato: #fc5035;
  --tomato-bu: #ff4f38;
  --black: #272a31;
  --grey: #d3d3d3;
  --darker-grey: #555;
  --white: #fff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background-color: var(--black);
  font-family: 'Lato', sans-serif;
  color: var(--darker-grey);
}

.hide {
  display: none;
}

.heading-underline {
  border: 1px solid var(--orange);
  width: 30px;
  margin: 15px 0 30px 0;
}

/* Header section styling starts here */
header {
  background: url('../assets/img/home-bg.jpg') no-repeat;
  background-size: cover;
  padding: 20px;
  min-height: 100vh;
}

header nav {
  display: flex;
}

header nav .logo {
  display: none;
}

#hamburger {
  margin-left: 15px;
}

.ham-bar {
  width: 40px;
  height: 8px;
  background: var(--darker-grey);
  margin-bottom: 5px;
}

.socials {
  display: none;
}

.menu {
  display: block;
  position: fixed;
  width: 0;
  top: 0;
  right: 0;
  height: 100vh;
  background: var(--black);
  text-align: center;
  transition: all 1s ease;
}

.close {
  color: var(--orange);
  font-size: 25px;
  margin-top: 40px;
  margin-left: 80%;
}

.active {
  width: 100%;
}

.nav-list {
  margin-top: 70px;
  margin-left: 28px;
  margin-right: 28px;
}

.nav-list li {
  margin-bottom: 20px;
  padding: 5px 0;
}

.nav-list li a {
  font-weight: 600;
  font-size: 24px;
  color: var(--orange);
}

.nav-list li a:hover {
  border-bottom: 2px solid var(--orange);
}

/* Partners section styling begins here */
.partners,
.past-workshops {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--grey);
  padding: 30px 0 50px 0;
}

.partners .logo-images-cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;

  /* padding-bottom: 50px; */
}

.partners .logo-images-cont img {
  width: 70px;

  /* height: 20px; */
  margin-right: 30px;
}

/* Partners section styling ends here */

/* Footer section styling starts here */
footer {
  display: flex;
  height: 100px;
  padding: 0 130px;
  align-items: center;
  justify-content: flex-start;
  background: var(--white);
}

footer .copy {
  margin-right: 50px;
}

/* Footer styling ends here */

@media (min-width: 768px) {
  header nav .logo {
    display: block;
    font-family: 'COCOGOOSE', sans-serif;
    color: var(--darker-grey);
    width: 110px;
    margin-top: 10px;
  }

  .socials {
    background: var(--black);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 100px;
    gap: 10px;
    font-size: 12px;
    color: var(--white);
  }

  .socials li a {
    color: var(--gray);
    font-size: 12px;
  }

  .menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: initial;
    min-width: initial;
    height: initial;
    background: initial;
    backdrop-filter: initial;
    mix-blend-mode: initial;
    transition: initial;
  }

  .close {
    display: none;
  }

  #campaign {
    border: 5px solid var(--orange);
    padding: 10px 15px;
  }

  header nav {
    padding-left: 80px;
    padding-right: 80px;
    background: var(--white);
  }

  .nav-list {
    margin-top: 10px;
    margin-left: initial;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
  }

  .nav-list li {
    margin-top: 5px;
  }

  .nav-list li a {
    font-size: 15px;
    line-height: 20px;
    color: var(--black);
    font-weight: 400;
  }

  .nav-list li:hover {
    border-bottom: none;
  }

  .nav-list li:hover a,
  .nav-list li .loaded {
    color: var(--orange);
  }
}
